<html lang="en">
    <head>
        <title>Visualization</title>
        <!-- import plugin script -->
        <script src='./chart.min2.js'></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        <!-- PUSH NOTIFICATIONS -->
        <link rel="manifest" href="/manifest.json">
        <script src="./push_notification.js"></script>

        <style>
        .panel-heading{
            background-color: black;
            border-color: black;
            color: white;
        }
        .panel{
            border: 0.5px solid rgba(0,0,0,0.3);
            overflow: hidden;
        }
        .panel-body{
            border-color: black;
        }
        .close{
            color: white;
            opacity: 0.8;
        }
        .close:hover{
            color: white;
            opacity: 1;
        }
        </style>

        <script>
            function binaryIndexOf(searchElement) {
                'use strict';

                var minIndex = 0;
                var maxIndex = this.length - 1;
                var currentIndex;
                var currentElement;
                var resultIndex;

                while (minIndex <= maxIndex) {
                    resultIndex = currentIndex = (minIndex + maxIndex) / 2 | 0;
                    currentElement = this[currentIndex];

                    if (currentElement < searchElement) {
                        minIndex = currentIndex + 1;
                    }
                    else if (currentElement > searchElement) {
                        maxIndex = currentIndex - 1;
                    }
                    else {
                        return currentIndex;
                    }
                }

                return minIndex;
            }

            Array.prototype.binaryIndexOf = binaryIndexOf;
        </script>
    </head>
    <body style="background: #f6f8f8">
        <div class="container">
        <div id="common-nav"></div>
        <script type="text/javascript">
            $("#common-nav").load("/ .navbar", function(){
                $("#common-nav .nav li").each(function(i){
                    if(i==1)
                        $(this).addClass("active");
                    else
                        $(this).removeClass("active")
                });
            });
        </script>
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <b>Line Graph</b>
                        <span class="close" aria-label="Minimize" onclick="$(this).closest('.panel').children('.panel-body').fadeToggle()">&times;</span>
                    </div>
                    <div class="panel-body">
                        <label for="amount">Time range:</label>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;" size="40">
                        <div id="slider-range"></div>
                        <!-- line chart canvas element -->
                        <canvas id="line-canvas" height="400" width="525" style="width:100%;height:auto;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <b>Pie Chart</b>
                        <span class="close" aria-label="Minimize" onclick="$(this).closest('.panel').children('.panel-body').fadeToggle()">&times;</span>
                    </div>
                    <div class="panel-body">
                        <label for="quartile-input">Time range:</label>
                        <input type="text" id="quartile-input" readonly style="border:0; color:#f6931f; font-weight:bold;" size="40">
                        <div id="quartile-range"></div>
                        <!-- pie chart canvas element -->
                       <canvas id="pie-canvas" height="400" width="525"></canvas>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            // line chart data
            var data1,lineChart;
            
            $.ajax({
                url: '/sortedData',
                complete: function(data) {
                res_date = data["responseJSON"][0];
                res_value = data["responseJSON"][1];
                for(i=0; i < res_date.length; i++){ 
                    res_date[i] = new Date(res_date[i]).toLocaleTimeString();
                }
                var buyerData = {
                    labels : res_date.slice(res_date.length-50, res_date.length),
                    datasets : [
                    {
                        fillColor : "rgba(172,194,132,0.4)",
                        strokeColor : "#ACC26D",
                        pointColor : "#fff",
                        pointStrokeColor : "#9DB86D",
                        data : res_value.slice(res_value.length-50, res_value.length)
                    }
                    ]
                }
                // get line chart canvas
                var line_canvas = document.getElementById('line-canvas').getContext('2d');
                // draw line chart
                lineChart = new Chart(line_canvas).Line(buyerData,{
                    responsive : false
                });
                }
            });

            // pie chart data
            var pieData = [
                {
                    value : 40,
                    color : "#4ACAB4",
                    highlight: "#29A993",
                    label: "1st Quartile"
                },
                {
                    value : 10,
                    color : "#FF8153",
                    highlight: "#DE6032",
                    label: "Median"
                },
                {
                    value : 30,
                    color : "#FFEA88",
                    highlight: "#EEC967",
                    label: "3rd Quartile"
                }
            ];
            // pie chart options
            var pieOptions = {
                tooltipTemplate: "<%= label %>",
                segmentShowStroke : true,
                animateScale : true,
                showTooltips: true,
        
            }
            // get pie chart canvas
            var pie_canvas= document.getElementById("pie-canvas").getContext("2d");
            // draw pie chart
            var pieChart = new Chart(pie_canvas).Pie(pieData, pieOptions);
            
        </script>
        <script>
            (function($){
                windowResize();
                $(window).resize(function(){
                    windowResize();                      
                });         
            })(jQuery);

            function windowResize(){
                $("canvas").css( "width", "100%" );
                $("canvas").css( "height", "auto" );
            }
        </script>
        <script>
        $.ajax({
                url: '/sortedData',
                complete: function(data) {
                    res_date = data["responseJSON"][0];
                    res_value = data["responseJSON"][1];
                    
                    //  SLIDER FOR LINE CHART
                    $( "#slider-range" ).slider({
                        range: true,
                        min: res_date[0],
                        max: res_date[res_date.length-1],
                        values: [res_date[res_date.length-50], res_date[res_date.length-1]],
                        slide: function( event, ui ) {
                            $( "#amount" ).val( new Date(ui.values[0]).toLocaleString() + " - " + new Date(ui.values[1]).toLocaleString() );
                            labels = res_date.slice(res_date.binaryIndexOf(ui.values[0]), res_date.binaryIndexOf(ui.values[1])+1);
                            for(i=0; i < labels.length; i++){ 
                                labels[i] = new Date(labels[i]).toLocaleTimeString();
                            }
                            var lineData = {
                                labels : labels,
                                datasets : [
                                {
                                    fillColor : "rgba(172,194,132,0.4)",
                                    strokeColor : "#ACC26D",
                                    pointColor : "#fff",
                                    pointStrokeColor : "#9DB86D",
                                    data : res_value.slice(res_date.binaryIndexOf(ui.values[0]), res_date.binaryIndexOf(ui.values[1])+1)
                                }
                                ]
                            }
                            $('#line-canvas').remove();
                            $('.panel-body').eq(0).append('<canvas id="line-canvas" height="400" width="525" style="width:100%;height:auto;"></canvas>');
                            var line_canvas = document.getElementById('line-canvas').getContext('2d');
                            lineChart = new Chart(line_canvas).Line(lineData);
                        }
                    });
                    $( "#amount" ).val( new Date($( "#slider-range" ).slider( "values", 0 )).toLocaleString() +
                        " - " + new Date($( "#slider-range" ).slider( "values", 1 ) ).toLocaleString());
                    
                    // SLIDER FOR PIE CHART
                    $( "#quartile-range" ).slider({
                        range: true,
                        min: res_date[0],
                        max: res_date[res_date.length-1],
                        values: [res_date[0], res_date[res_date.length-1]],
                        slide: function( event, ui ) {
                            $( "#quartile-input" ).val( new Date(ui.values[0]).toLocaleString() + " - " + new Date(ui.values[1]).toLocaleString() );
                            var sorted_values = res_value.slice(res_date.binaryIndexOf(ui.values[0]), res_date.binaryIndexOf(ui.values[1])+1);
                            var counts = [0,0,0,0,0,0];
                            var ranges = [0,450,700,1000,2500,5000,60000];
                            
                            for(j=0; j<sorted_values.length; j++){
                                for(i=1; i<ranges.length; i++){
                                    if(sorted_values[j]>ranges[i-1] && sorted_values[j]<=ranges[i]){
                                        counts[i-1]++;
                                        break;
                                    }
                                }
                            }
                            console.log(counts);
                            var colors = ["#FF8153","#FFEA88","#4ACAB4","#4D4D4D","#5DA5DA","#FAA43A"];
                            var h_colors = ["#DE6032","#EEC967","#29A993","#3C4D2C","#3CA5B9","#D9A419"];
                            var pieData = [];
                            for(i=0; i<counts.length; i++){
                                pieData.push({
                                    value: counts[i],
                                    color: colors[i],
                                    highlight: h_colors[i],
                                    label: ranges[i].toString() + " - " + ranges[i+1].toString()
                                })
                            }
                            // pie chart options
                            var pieOptions = {
                                tooltipTemplate: "<%= label %> : <%= value %>",
                                segmentShowStroke : true,
                                animateScale : true,
                                showTooltips: true,
                                animationSteps: 30
                        
                            }
                            $('#pie-canvas').remove();
                            $('.panel-body').eq(1).append('<canvas id="pie-canvas" height="400" width="525" style="width:100%;height:auto;"></canvas>');
                            var pie_canvas = document.getElementById('pie-canvas').getContext('2d');
                            pieChart = new Chart(pie_canvas).Pie(pieData, pieOptions);

                        }
                    });
                    $( "#quartile-input" ).val( new Date($( "#quartile-range" ).slider( "values", 0 )).toLocaleString() +
                        " - " + new Date($( "#quartile-range" ).slider( "values", 1 ) ).toLocaleString());

                    
                }
            });
        </script>
        </div>
    </body>
</html>